@tailwind base;
@tailwind components;
@tailwind utilities;

.RaLayout-appFrame {
    margin-top: 0px!important;
}

/* FIELD TEXT */
.ra-rich-text-editor .tiptap {
    min-height: 350px;
}

.ra-rich-text-editor p.RaLabeled-label {
    font-size: 17px;
}

.RaArrayInput-root span.RaArrayInput-label span {
    font-size: 22px;
}

/* TABLE LIST */
.MuiTableBody-root tr:nth-child(even) {
    background-color: #e7edf933;
}

.MuiTableCell-body {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}